body{
    /*font-family: 'Ubuntu', sans-serif;*/
    font-size: 22px;
    margin-inline: 3%;
    background-image: url(img/fondo1.jpg);
    background-color: rgb(180, 180, 180);
    /*background-blend-mode: soft-light;*/
    background-size: cover;
    background-repeat: no-repeat;
}
.encabezado{
    margin-inline: 7%;    
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: rgba(75, 75, 75, 0.65);
}
.desarrollando{
    color: white;
    background-color: rgba(40, 40, 40, 0.75);
    padding: 3%;
    width: fit-content;
}